.close {
    width: 130px;
    height: 37px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #dc4c64;
}

.close, .close span {
    transition: 200ms;
}

.close .text {
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.close .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(95px);
    margin-top: 5px;
    margin-left: 5px;
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close svg {
    width: 15px;
    fill: #eee;
}

.close:hover {
    background: #ff3636;
}

.close:hover .text {
    color: transparent;
}

.close:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(-20px);
}

.close:focus {
    outline: none;
}

.close:active .icon svg {
    transform: scale(0.8);
}




.cta {
    border: none;
    background: none;
  }
  
.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
}

.cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}