body {
    padding: 10px;
    background-color:#f4f2f0!important;
    /* background-color:#ffffff!important; */
}
img.listing-image {
    width: 100%;
    height: 300px; /* or any other fixed height you want */
    object-fit: cover;
  }
.btn{
    bottom: 0;
}