body {
    padding: 10px;
    background-color:#f4f2f0!important;
    /* background-color:whitesmoke!important; */
}
img.listing-image {
    width: 100%;
    height: 300px; /* or any other fixed height you want */
    object-fit: cover;
  }
.btn{
    bottom: 0;
}

.far,.fas:hover{
    cursor: pointer;
    
}

#heart:checked ~ .i1 {
    display: none;
    
}
#heart:not(checked) ~ .i2 {
    display: none;
    
}
#heart:checked ~ .i2 {
    display: inline-block;
}



