{% extends "auctions/layout.html"%}

{% block body %}
     <form method="POST" action="{% url "create" %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="container w-25">
               <p class="text-center h1 fw-bold mb-4 mt-4">Adding an item?</p>
               <div class="form-outline mb-3">
                    <input type="text" class="form-control" name="T" value="{{T}}" required/>
                    <label class="form-label" for="typeText">Title</label>
               </div>
               <div class="form-outline mb-3">
                    <input type="number" class="form-control" name="B" value="{{B}}" max="99999999" required/>
                    <label class="form-label" for="typeText">Starting bid in $</label>
               </div>
               <div class="form-outline mb-3">
                    <textarea type="text" class="form-control" rows="4" name="D"/>{{D}}</textarea>
                    <label class="form-label" for="typeText">Description</label>
               </div>
               <div class="mb-2">
                    <label class="form-label mb-0" for="customFile">Upload one or many images of your item</label>
                    <input type="file" class="form-control" name="I" value="{{I}}" accept="image/*,jpg,jpeg,png" multiple required/>
                    <div class="text-helper"><small>JPEG,JPG or PNG<small></div>               
               </div>
               <div class="btn-group shadow-1">
                    <button type="button" class="btn btn-light dropdown-toggle" data-mdb-toggle="dropdown" aria-expanded="false">
                      Choose a Category
                    </button>
                    <ul class="dropdown-menu">
                         {% for category, label in categories %}
                              <li class="dropdown-item">{{ label }}</li>
                         {% endfor %}
                    </ul>
               </div>
               <div class="text-center mt-3">
                    <button type="submit" class="btn btn-dark w-25">List</button>
               </div>
          </div>
     </form>

{% endblock %}