{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <section class="mb-10 text-center">
            <h2 class="fw-bold mb-7 text-center">Featured</h2>
            <div class="row gx-lg-5">
                {% for listing in listings|slice:":6" %}
                    <!-- cartd template -->
                    <div class="col-lg-4 mb-6 mb-lg-5">
                        <div class="card rounded-6 h-100">
                            <div class=" bg-image hover-overlay ripple shadow-4-strong " data-mdb-ripple-color="light">
                                <img src="{{ listing.theImages.first.images.url }}" class="img-fluid listing-image" image/>
                                <a href="{% url 'view' listing.pk %}"><div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div></a>
                            </div>
                            <div class="card-body d-flex flex-column justify-content-between">
                                <h5 class="card-title fw-bold">{{ listing.name|truncatechars:50 }}</h5>
                                <p class="card-text">{{ listing.description|truncatechars:120 }}</p>         
                                <p class="card-text"><b>Curent highest bid:</b> {{ listing.startingBid }}$</p>
                                <a href="{% url 'view' listing.pk %}" class="btn btn-secondary">View</a>
                            </div>
                        </div>
                    </div>
                    <!-- card template -->
                    {% endfor %}
                    <div class="text-center">
                        <a href="{% url 'create' %}" class="btn btn-outline-dark btn-rounded btn-lg fw-bold w-25 "> List a item </a>
                    
                        <a href="{% url 'listings' %}" class="btn btn-dark btn-rounded btn-lg fw-bold w-25 "> See more </a>
                    <div>
            </div>
        </section>
    </div>
{% endblock %}