{% extends "auctions/layout.html"%}
{% block body %}
    <main class="m-5">
        <div class=" container-fluid">
            <div class="row shadow-4 w-100" style="background-color:#ffffff;">
                <div id="caroussel" class="col-5 mb-4 mt-4">
                    <div id="carouselExampleCrossfade" class="carousel slide carousel-fade carousel" data-mdb-ride="carousel">
                        <div class="carousel-inner" >
                            <div class="carousel-item active">
                                {% for image in images|slice:":1" %}
                                    <img src="{{ image }}" class="d-block w-100 " alt="Wild Landscape" style="height:550px;object-fit:cover;"/>
                                {% endfor %}
                            </div>
                            {% for image in images|slice:"1:" %}
                                <div class="carousel-item">
                                    <img src="{{ image }}" class="d-block w-100" alt="Camera" style="height:550px;object-fit:cover;"/>
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev " type="button" data-mdb-target="#carouselExampleCrossfade" data-mdb-slide="prev">
                          <span class="carousel-control-prev-icon bg-dark rounded-circle" style="height:45px; width:40px;" aria-hidden="true"></span>
                        </button>
                        <button class="carousel-control-next " type="button" data-mdb-target="#carouselExampleCrossfade" data-mdb-slide="next">
                          <span class="carousel-control-next-icon bg-dark rounded-circle" style="height:45px;width:40px;" aria-hidden="true"></span>
                        </button>
                      </div>                
                    </div>
                    <div class="col-7 mb-4">
                        <div class="p-4">
                            <div class="mb-3">
                                <div class="me-auto">
                                    <span class="fw-bold" style="font-size: 35px;">{{listing.name}}</span>
                                </div>
                                <div class="d-flex"> 
                                    <a href=""><span class="badge bg-dark me-1">{{listing.category}}</span></a>
                                    {% if open %}
                                        <a href=""><span class="badge bg-info me-1">Open</span></a>
                                    {% else %}
                                        <a href=""><span class="badge bg-danger me-1">Closed</span></a>
                                    {% endif %}
                                </div>
                            </div>
                            <p class="lead"><span> Current highest bid: <span class="fw-bold ">${{ listing.bids.first.bid }}</span></span></p>
                            <strong><p style="font-size: 20px;">Description</p></strong>
                            <p>{{listing.description}}</p>
                            <div class=" d-flex">
                                <form class="d-flex justify-content-left" action="{% url 'bid' %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-outline me-1" style="width: 100px;">
                                        <input type="hidden" name="pk" value="{{ listing.pk }}">
                                        <input type="number" class="form-control" name="B" max="99999999" required/>
                                    </div>
                                    <button name="close" class="btn btn-dark ms-1" type="submit">Bid on the item</button>
                                    {% if owner == True %}
                                        <button type="button" class="btn btn-danger ms-2 p-0 pe-3 ps-3"><i class="fas fa-times-circle"></i> Close</button>
                                    {% endif %}
                                </form>
                                {% if not watched %}
                                    <form action="{% url 'watchlist' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="add">
                                        <input id="heart" name="watch" value="{{ listing.pk }}" type="checkbox" onchange="this.form.submit()" hidden/>
                                        <label class="i1" for="heart"><i class="far fa-heart fa-2x ms-3" alt="Add to whatchlist"></i></label>
                                        <label class="i2" for="heart"><i class="fas fa-heart fa-2x ms-3" alt="Add to whatchlist"></i></label>
                                    </form>
                                {% else %}
                                    <form action="{% url 'watchlist' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="remove">
                                        <input id="heart" name="watch" value="{{ listing.pk }}" type="checkbox" onchange="this.form.submit()" hidden/>
                                        <label class="i2" for="heart"><i class="far fa-heart fa-2x ms-3" alt="Add to whatchlist"></i></label>
                                        <label class="i1" for="heart"><i class="fas fa-heart fa-2x ms-3" alt="Add to whatchlist"></i></label>
                                    </form>
                                {% endif %} 
                            </div>
                            <div class="text-helper"><small>Your bid should be higher than the current one! or add it to your watchlist.</small></div>
                            {% if message == 1 %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <i class="fas fa-check-circle"></i>
                                    <strong> Success!</strong> Your bid has been recorded.
                                </div>
                            {% elif message == 0 %}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <i class="fas fa-exclamation-triangle"></i>
                                    <strong> Failed!</strong> Your bid should be higher the the highest bid.
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <hr />

                <!--comment row-->
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6 text-center">
                        <h4 class="my-4 h4">Comments</h4>
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-12">
                              <div class="card shadow-4">
                                <div class="card-body p-4">
                                  <div class="form-outline mb-4">
                                    <input type="text" id="addANote" class="form-control" placeholder="Type comment..." />
                                    <label class="form-label" for="addANote">+ Add a note</label>
                                  </div>
                                  <div class="card">
                                    <div class="card-body">
                                      <p>TEXT</p>
                                      <div class="d-flex justify-content-between">
                                        <div class="d-flex flex-row align-items-center">
                                            <i class="fas fa-user-circle fa-2x"></i>
                                            <p class="small mb-0 ms-2">User</p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </main>
    </main>
{% endblock %}