{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Nightfall Bids{% endblock %}</title>
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js" defer></script>
        <script src="{% static 'auctions/scripts.js' %}" defer></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    </head>
    <body >
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color:#131313;">
                <!-- Container wrapper -->
                <div class="container-fluid ms-4 me-4" >
                    <!-- Toggle button -->
                    <button 
                        class="navbar-toggler" 
                        type="button" 
                        data-mdb-toggle="collapse" 
                        data-mdb-target="#navbarSupportedContent1" 
                        aria-controls="navbarSupportedContent1" 
                        aria-expanded="false" 
                        aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
            
                    <!-- Collapsible wrapper -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                        <!-- Navbar brand -->
                        <a class="navbar-brand mt-2 mt-sm-0" href="{% url 'index' %}">
                            <strong>NB</strong>
                        </a>
                        <!-- Left links -->
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'index' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'listings' %}">All Listings</a>
                            </li>
                            {% if user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'create' %}">List Item</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
                                </li>
                            {% endif %}
                        </ul>
                        <!-- Left links -->
                    
                    <!-- Collapsible wrapper -->
            
                    <!-- Right elements -->
                    
                        <ul class="navbar-nav mb-2 mb-lg-0">
                            {% if user.is_authenticated %}
                                <li class="nav-item" style="color:whitesmoke;">
                                    <span class="nav-link">Hi <span class="fw-bold" style="color:#FAF0E6;">{{ user.username|title }}</span></span>
                                </li>
                                <li class="nav-item me-3 me-lg-0">
                                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                                </li>
                            {% else %}
                                <li class="nav-item me-3 me-lg-0">
                                    <a class="nav-link" href="{% url 'login' %}">Login </a>
                                </li>
                                <li class="nav-item me-3 me-lg-0">
                                    <a class="nav-link" href="{% url 'register' %}">register</a>
                                </li>
                            {% endif %}
                            <li class="nav-item me-3 me-lg-0">
                                <div class="container h-100 p-0 nav-link">
                                    <form action="{% url 'search' %}" method="get" id="search_form" class="d-flex justify-content-center h-100" action="{% url 'search' %}">
                                        <div class="searchbar">
                                            <input type="text" class="search_input" id="search_input" name="S" placeholder="search here..." />
                                            <label class="search_icon"><i class="fas fa-search"></i></label>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                    <!-- Right elements -->
                </div>
                <!-- Container wrapper -->
            </nav>
        <hr>
        {% block body %}
        {% endblock %}
    </body>
</html>
