{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container mt-5 pt-5" style="background-color:#f6f5f7;">
        <section class="text-center">
            <h1 class="fw-bold text-center">{{ title }}</h1>
            <hr class="my-5">
            <div class="note note-secondary mb-4 text-start">
                <strong>Hearted Listings:</strong> Your watchlist is the perfect place to keep track of auctions that you're interested in.
                When you find an auction that catches your eye, simply click the heart icon to save it to your hearted listings.
                <b>Be sure to stay vigilant, as other buyers may also be interested in these listings!</b><br> If you change your mind or no
                longer want to keep an auction in your watchlist, you can remove it at any time by clicking the heart icon again.
                This way, you can keep your watchlist up-to-date with the latest auctions that you're truly interested in.
              </div>
            <div class="row gx-lg-5">
                {% for listing in listings%}
                    <!-- cartd template -->
                    <div class="col-lg-4 mb-6 mb-lg-5">
                        <div class="card rounded-6 h-100">
                            <div class="bg-image hover-overlay ripple shadow-4-strong" data-mdb-ripple-color="light">
                                <img src="{{ listing.theImages.first.images.url }}" class="img-fluid listing-image" image/>
                                <a href="{% url 'view' listing.pk %}"><div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div></a>
                            </div>
                            <div class="card-body d-flex flex-column justify-content-between">
                                <h5 class="card-title fw-bold">{{ listing.name|truncatechars:50 }}</h5>
                                <p class="card-text">{{ listing.description|truncatechars:120 }}</p>         
                                <p class="card-text"><b>Curent highest bid:</b> ${{ listing.bids.first.bid }}</p>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex">
                                        <form action="{% url 'watchlist' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="action" value="remove">
                                            <input id="heart" name="watch" value="{{ listing.pk }}" type="checkbox" onclick="this.form.submit()" hidden/>
                                            <label class="i2" for="heart"><i class="far fa-heart fa-2x ms-3" alt="Add to whatchlist"></i></label>
                                            <label class="i1" for="heart"><i class="fas fa-heart fa-2x ms-3" alt="Add to whatchlist"></i></label>
                                        </form>
                                    </div>
                                    <div>
                                        <a href="{% url 'view' listing.pk %}" class="d-flex justify-content-end mt-2">
                                            <button class="cta">
                                                <span class="hover-underline-animation fw-bold text-uppercase"> view now </span>
                                                <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg" id="arrow-horizontal">
                                                    <path transform="translate(30)" d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z" data-name="Path 10" id="Path_10"></path>
                                                </svg>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- card template -->
                    {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}