.close {
    width: 130px;
    height: 37px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #dc4c64;
}

.close, .close span {
    transition: 200ms;
}

.close .text {
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.close .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(95px);
    margin-top: 5px;
    margin-left: 5px;
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close svg {
    width: 15px;
    fill: #eee;
}

.close:hover {
    background: #ff3636;
}

.close:hover .text {
    color: transparent;
}

.close:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(-20px);
}

.close:focus {
    outline: none;
}

.close:active .icon svg {
    transform: scale(0.8);
}



.cta {
    border: none;
    background: none;
  }
  
.cta span {
    padding-bottom: 7px;
    padding-right: 15px;
}

.cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 131%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}




.input-container {
    width: 500px;
    position: relative;
  }
  
.icone {
    position: absolute;
    padding-right: 20px;
    right: 10px;
    top: calc(50% + 5px);
    transform: translateY(calc(-50% - 5px));
}

.input {
    background-color: white;
    width: 100%;
    height: 40px;
    padding: 10px;
    transition: .2s linear;
    border: 2.5px solid black;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.input:focus {
    outline: none;
    border: 0.5px solid black;
    box-shadow: -5px -5px 0px black;
}

.input-container:hover > .icone {
    animation: anim 1s linear infinite;
}

@keyframes anim {
    0%,
    100% {
        transform: translateY(calc(-50% - 5px)) scale(1);
    }

    50% {
        transform: translateY(calc(-50% - 5px)) scale(1.1);
    }
}



.fancy {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-weight: 700; 
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
   }
   
.fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: black;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
   }
   
.fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
   }
   
.fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
   }
   
.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
.fancy:hover {
    color: white;
    background: black;
   }
   
.fancy:hover::before {
    width: 0.9375rem;
    background: white;
   }
   
.fancy:hover .text {
    color: white;
    padding-left: 1.5em;
   }
   
.fancy:hover .top-key {
    left: -2px;
    width: 0px;
   }
   
.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
   }




.LR_btn {
    display: inline-block;
    border-radius: 4px;
    background-color: #316886;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 10px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.LR_btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.R_btn span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}
.L_btn span:before{
    content: '«';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -15px;
    transition: 0.5s;
}

.R_btn:hover span {
    padding-right: 15px;
}
.L_btn:hover span{
    padding-left: 15px;
}

.R_btn:hover span:after {
    opacity: 1;
    right: 0;
}
.L_btn:hover span:before {
    opacity: 1;
    left: 0;
}


.LR-btn {
    --bg: #000;
    --hover-bg: #1b7fb4;
    --hover-text: #FFF;
    color: #fff;
    border: 1px solid var(--bg);
    border-radius: 6px;
    width: 130px;
    padding: 10px;
    background: var(--bg);
    transition: 0.2s;
  }
.LR-btn:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem,-0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }
  
.LR-btn:active {
    transform: translate(0);
    box-shadow: none;
  }




.main_btns {
    appearance: none;
    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 2px;
    box-sizing: border-box;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 50px;
    min-width: 0;
    outline: none;
    padding: 0px 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
   }
   
.main_btns:disabled {
    pointer-events: none;
   }
   
.main_btns:hover {
    color: #fff;
    background-color: #1b1d1f;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    border: none;
   }
   
.main_btns:active {
    box-shadow: none;
    transform: translateY(0);
   }